<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>BuildMachineOSBuild</key>
    <string>16G29</string>
    <key>CFBundleDisplayName</key>
    <string>IOTA Wallet</string>
    <key>CFBundleExecutable</key>
    <string>IOTA Wallet</string>
    <key>CFBundleIconFile</key>
    <string>IOTA Wallet.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.iotatoken.wallet</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>IOTA Wallet</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>2.5.6</string>
    <key>CFBundleVersion</key>
    <string>2.5.6</string>
    <key>DTSDKBuild</key>
    <string>14D125</string>
    <key>DTSDKName</key>
    <string>macosx10.1010.10</string>
    <key>DTXcode</key>
    <string>0821</string>
    <key>DTXcodeBuild</key>
    <string>8C1002</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.developer-tools</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.9.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSMainNibFile</key>
    <string>MainMenu</string>
    <key>NSPrincipalClass</key>
    <string>AtomApplication</string>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>IOTA URL Scheme</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>iota</string>
        </array>
      </dict>
    </array>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2017 IOTA Foundation</string>
    <key>AsarIntegrity</key>
    <string>{"checksums":{"app.asar":"Nxtr4QU6243Gf7A/d0NgAJ7ubCLb+ATfTEOMeuznc61htdNdA+ld2OSI1h8Dh9GzfvRxaF7tKtjvpbm/JNgAzg==","electron.asar":"N8qMkArPe2Vz78otrpXE3aNxOfCVyD1sqLzLTkMM5HY6Di2N/zv+HQhnv0+XjE/PttdJYymWUm+D0oj39WbLiA=="}}</string>
  </dict>
</plist>